{% load staticfiles %}
<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://code.jquery.com/jquery.js"></script>
      {% load compressed %}
      {% load extras %}
      {% compressed_css 'kilke' %}
      {% compressed_js 'kilke' %}
      <title>{% block title %}Biliskilke{% endblock %}</title>
  </head>
  <body>
    
    <div class="container" id="content">
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Navigoi</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Etusivu</a></li>
            <li><a href="{% url 'new' %}">Uusi pelaaja</a></li>
            <li><a href="{% url 'players' %}">Pelaajat</a></li>
            <li><a href="{% url 'games' %}">Kaikki pelit</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
      <div class="row" id="top-banner">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          {% image_or_empty 'uploads/image.jpg' %}
        </div>
      </div>
      <div class="row">
        {% block body %}
          <p>Ime parsaa</p>
        {% endblock %}
      </div>
      
        <div class="modal fade" id="fargoInfo" tabindex="-1" role="dialog" aria-labelledby="fargoInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Pisteytys</h4>
                    <p>Pelien pisteytys lasketaan <a href="http://www.fargobilliards.com/pool-tournaments/fargo-ratings/" target="_blank">Fargo</a>-algoritmilla,  
                        jonka perusidea on mahdollistaa hyvien ja huonojen pelaajien kilpailu samassa sarjassa. Häviäjältä voittajalle siirtyvä pistemäärä lasketaan kaavalla,
                        joka huomioi pelaajien välisen piste-eron ja kokemuksen. Mitä suurempi piste-ero, sitä enemmän pisteitä siirtyy.
                        Pelaajien kokemus kuitenkin pienentää vaikutusta. Mitä enemmän pelattuja pelejä, sitä vähemmän voitosta saa tai häviöstä menettää pisteitä.
                        Kokemuksen vaikutus muuttuu logaritmisesti, eli sitä hitaammin, mitä enemmän pelejä on takana. Jokainen uusi pelaaja aloittaa pistemäärällä 400, ja
                        kaikkien pelaajien pisteiden summa on aina 400 x pelaajien määrä.</p>
                    </div>
                </div>
            </div>
        </div>
      
      
    </div>
    
    <div class="footer navbar-bottom">
      <div class="container">
        <p class="text-muted">Viimeisin päivitys: 19.7.2015 - webmaster@prodeko.org</p>
      </div>
    </div>
    
  </body>
</html>
