{% load staticfiles %}
<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://code.jquery.com/jquery.js"></script>
      {% load compressed %}
      {% load extras %}
      {% compressed_css 'kilke' %}
      {% compressed_js 'kilke' %}
      <title>{% block title %}Biliskilke{% endblock %}</title>
  </head>
  <body>
    
    <div class="container" id="content">
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Navigoi</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Etusivu</a></li>
            <li><a href="{% url 'new' %}">Uusi pelaaja</a></li>
            <li><a href="{% url 'players' %}">Pelaajat</a></li>
            <li><a href="{% url 'games' %}">Kaikki pelit</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
      <div class="row" id="top-banner">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          {% image_or_empty 'uploads/image.jpg' %}
        </div>
      </div>
      <div class="row">
        {% block body %}
          <p>Ime parsaa</p>
        {% endblock %}
      </div>
    </div>
    
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">Viimeisin päivitys: 9.7.2015 - webmaster@prodeko.org</p>
      </div>
    </div>
    
  </body>
</html>
